.venv/
file_corso_lc2/
data/word_embeddings/
finetuned_model/
notebooks/distilbert-base-cased-finetuned/
notebooks/classification.ipynb
data/processed/data_task2/profiling_UD_all_conllu.zip
notebooks/dbmdz/bert-base-italian-cased-finetuned/
data/processed/data_task2/all_data_profiling/
old_files/
__pycache__/
*.pyc
images/
data/processed/data_task2/all_data_profiling.zip